 <div class="form-content">
        <form class="form" action="#" onreset="resetForm()" onsubmit="save()">
          <div class="form-head">Employee Payroll Form</div>
            <div class="row-content">
                <label class="label text" for="name">Name</label> 
                  <input class="input" type="text" id="name" name="name" [(ngModel)]="employee.employeeName"
                            placeholder="Your Name..." required>
                            <!-- <error-output class="text-error" for="text"></error-output> -->
            </div>
            
			<div class="row-content">
                <label class="label text" for="profile">Profile Image</label>
                        <div class="profile-radio-content">
                            <label>
                                <input type="radio" id="profile1" name="profile" [(ngModel)]="employee.profilePic"
                                    value="../assests/profile/abc2.png" required>
                                 <img class="profile" id="image1"  src="../assets/profile/abc2.png">
                            </label>
                            <label>
                                <input type="radio" id="profile2" name="profile" [(ngModel)]="employee.profilePic"
                                    value="../assests/profile/abc.png" required>
                                <img class="profile" id="image2" src="../assets/profile/abc.png">
                            </label>
                            <label>
                                <input type="radio" id="profile3" name="profile" [(ngModel)]="employee.profilePic"
                                     value="../assests/icons/abc3.jpeg" required>
                                <img class="profile" id="image3" src="../assets/icons/abc3.jpeg">
                            </label>
                            <label>
                                <input type="radio" id="profile4" name="profile" [(ngModel)]="employee.profilePic"
                                    value="../assests/profile/abc4.png" required>
                                <img class="profile" id="image4" src="../assets/profile/abc4.png">
                            </label>
                        </div>
                    </div>
                   
			<div class="row-content">
                <label class="label text" for="gender">Gender</label>
                <div>
                  <input type="radio" id="male" name="gender"  [(ngModel)]="employee.gender" value="male">
                  <label class="text" for="male">Male</label>
                  <input type="radio" id="female" name="gender" [(ngModel)]="employee.gender" value="female">
                  <label class="text" for="female">Female</label>
                </div>
              </div>
              <div class="row-content">
                <label class="label text" for="department">Department</label>
                <div>
                  <input class="checkbox" type="checkbox" id="hr" name="department1" (click)="getVal('HR')" [ngModel]="employee.department=='HR'" value="HR">
                 <label class="text" for="hr">HR</label>
                  <input class="checkbox" type="checkbox" id="sales" name="department2" (click)="getVal('sales')" [ngModel]="employee.department=='sales'" value="sales">
                  <label class="text" for="sales">Sales</label>
                  <input class="checkbox" type="checkbox" id="finance" name="department3" (click)="getVal('finance')" [ngModel]="employee.department=='finance'" value="finance">
                  <label class="text" for="finance">Finance</label>
                  <input class="checkbox" type="checkbox" id="engineer" name="department4" (click)="getVal('engineer')"  [ngModel]="employee.department=='engineer'" value="engineer">
                  <label class="text" for="engineer">Engineer</label>
                  <input class="checkbox" type="checkbox" id="others" name="department5" (click)="getVal('others')" [ngModel]="employee.department=='others'" value="others">
                  <label class="text" for="others">Others</label>             
                </div>
              
               </div>
               <div class="row-content">
                 <label class="label text" for="salary" >Choose your Salary</label>
                 <input class="input" type="range"  name="salary" id="salary" min="10000"
                  max="100000" step="100"   [(ngModel)]="employee.salary"  value="50000" required>
                  <output class="salary-output" for="salary" >{{this.employee.salary}}</output >
                   </div>
             
    
                    <!-- <script>
                    const salary = document.querySelector('#salary');
                    const output = document.querySelector('.salary-output');
                    output.textContent = salary.value;
                    salary.addEventListener('input', function() {
                        output.textContent = salary.value 
                    });  
                </script> -->
        
            <div class="row-content">
              <label class="label-text" for="StartDate">Start Date:-</label>
              <input type="date" class="startDate" id="StartDate" name="date" [(ngModel)]="employee.date" required>
          </div>
            <!-- <error-output class="text-error" for="startDate"></error-output> -->
        
        <div class="row-content">
            <label class="label text" for="notes">Notes</label>
            <textarea id="notes" class="input" name="notes"  [(ngModel)]="employee.note" placeholder="" style="height:100px"></textarea>
          </div>
          <div class="buttonParent">
            <a href="./first.component.html" class="resetButton button cancelButton ">Cancel</a>
            <div class="submit-reset">
                <button type="submit" class="button submitButton" id="submitButton" (click)="addEmployeeData()">Submit</button>
                <button type="reset" class="resetButton button">Reset</button>
            </div>
          </div>
                </form>
                <script src="../js/EmpPayroll.js"> </script>
            </div>                    
        
